/node_modules
/public/hot
/public/storage
/public/packages
/storage/*.key
/vendor
/public/css
/public/js
.rocketeer/
/bootstrap/cache/
/bootstrap/compiled.php
/build/logs
/build/coverage
/app/config/packages
/node_modules
.DS_Store
.env.*.php
.env.php
.env
.phpunit.result.cache
/.idea
/_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
